.global-sig {
}
.global-sig-body {
    width: var(--default-block-dimensions);
    height: var(--default-block-dimensions);

    background-color: #d645d6;
}
.global-sig-label {
    font-size: 12px;
    font-family: 'Lato', 'sans-serif';
}