.rom {
}
.rom-body {
    width: var(--default-block-dimensions);
    height: var(--default-block-dimensions);

    background-color: orange;
}
.rom-label {
    font-size: 12px;
    font-family: 'Lato', 'sans-serif';
}