.sidebar {
    width: 170px;
    height: calc(100vh - 150px);
    position: fixed;
    left: 0;
    top: 80px;
    background-color: #E4EAEE;
    border-right: 1px solid black;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.block-name {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.block-name__title {
    width: 100%;
    margin-bottom: 10px;
}

.block-name__input {
    display: block;
}

.register-state__title {
    width: 100%;
    margin-bottom: 10px;
}

.register-state__input {
    display: block;
}

.clk-buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.memory-btn,
.clk-button,
.reset-clk-button {
    margin: 0 5px 5px;
}

.memory-btn {
    margin-top: 10px;
}

.value-group {
    margin-top: 5px;
}

.active-address-group {
    margin-top: 5px;
}

.memory__input {
    margin-left: 3px;
}
